.bs_Product {
  padding: 25px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 -15px;
}
.bs_Product .bsp_top {
  display: flex;
  align-items: center;
}
.bs_Product .bsp_top .tablist {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}
.bs_Product .bsp_top .tablist span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.bs_Product .bsp_products {
  display: flex;
  align-items: center;
}
