.breadcrumb_pages {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
}

.breadcrumbItem {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #999;
}

.breadcrumbItem:last-child {
  color: #000;
}

.breadcrumbItem:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 5px;
  color: #666;
}
