.brandSlider {
  background: #fff;
  margin: 0 -15px;
  border-radius: 10px;
  padding: 30px;
  margin-top: 20px;
}
.brandSlider .bs_title {
  margin-bottom: 30px;
}
.brandSlider .bs_title h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-transform: uppercase;
  margin: 0;
}
.brandSlider .bs_cards {
  display: flex;
  gap: 10px;
}
