.productShop_top {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
}
.productShop_top h6 {
	font-size: 18px;
	font-weight: 700;
	line-height: 21.6px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.productShop_top .slider_boxes {
	display: flex;
	align-items: center;
}
.productShop_top .slider_boxes .sb_slider {
	padding: 40px 0 50px 60px;
	margin-right: 4px;
	background-image: url("../../assets/images/sb-slider-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	position: relative;
}
.productShop_top .slider_boxes .sb_slider h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #fff;
	margin-bottom: 20px;
}
.productShop_top .slider_boxes .sb_slider h2 span {
	font-size: 30px;
	font-weight: 300;
	line-height: 36px;
}
.productShop_top .slider_boxes .sb_slider ul {
	list-style: none;
	color: #fff;
	margin-bottom: 40px;
}
.productShop_top .slider_boxes .sb_slider ul li {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.productShop_top .slider_boxes .sb_slider a {
	padding: 8px 15px;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	background-color: #fff;
	color: #000;
}
.productShop_top .slider_boxes .sb_slider a:hover {
	background-color: #01a49e;
	border-color: #01a49e;
	color: #fff;
}
.productShop_top .slider_boxes .sb_slider .slider_controls {
	position: absolute;
	display: flex;
	align-items: center;
	gap: 10px;
	right: 30px;
}
.productShop_top .slider_boxes .sb_slider .slider_controls span {
	padding: 10px;
	background: #fff;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.productShop_top .slider_boxes .sb_banner {
	padding: 40px;
	background-image: url("../../assets/images/sb-banner-img.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin-left: 4px;
	height: 300px;
}
.productShop_top .slider_boxes .sb_banner .banner_content {
	display: flex;
	justify-content: space-between;
}
.productShop_top .slider_boxes .sb_banner .banner_content h6 {
	font-size: 22px;
	font-weight: 500;
	line-height: 28.8px;
	text-transform: lowercase;
}
.productShop_top .slider_boxes .sb_banner .banner_content button {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	padding: 7px 15px;
	display: block;
}

/* productShop_middle */

.productShop_middle {
	background-color: #fff;
	border-radius: 10px;
	margin: 15px 0 !important;
	padding: 30px;
}
.productShop_middle h6 {
	font-size: 18px;
	font-weight: 700;
	line-height: 21.6px;
	text-transform: uppercase;
}
.productShop_middle .pc_categories {
	padding: 10px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

/* productShop_bottom */
.productShop_bottom {
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
}
.productShop_bottom .pb_inner1 {
	display: flex;
	flex-wrap: wrap;
}

.productShop_bottom .pb_inner1 .categories1 {
	background-color: #eeeff6;
	padding: 30px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.productShop_bottom .pb_inner1 .categories1 h6,
.pbi_slider h6 {
	font-size: 18px;
	font-weight: 700;
	line-height: 21.6px;
	text-transform: uppercase;
	margin: 0;
}
.productShop_bottom .pb_inner1 .categories1 span a {
	padding: 7px 14px;
	background-color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-decoration: none;
	color: #000;
	border-radius: 8px;
}
.productShop_bottom .pb_inner1 .categories1 .cpt {
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	margin: 0;
}
.productShop_bottom .pb_inner1 .categories1 ul {
	list-style: none;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	padding-left: 15px;
	height: 290px;
	overflow-y: auto;
	overflow-x: hidden;
}

.productShop_bottom .pb_inner1 .categories1 ul li {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	padding: 5px;
	border-radius: 6px;
	transition: ease-in-out 0.3s;
}
.productShop_bottom .pb_inner1 .categories1 ul li:hover,
.productShop_bottom .pb_inner1 .categories1 ul li.clicked {
	background-color: #01a49e;
	color: #fff;
	transform: scale(1.05);
	cursor: pointer;
}

.productShop_bottom .pb_inner1 .pbi_slider {
	padding: 0 20px;
	height: 100%;
}
.productShop_bottom .pb_inner1 .pbi_slider .slider {
	padding: 30px 50px;
	position: relative;
	height: 100%;
}
.productShop_bottom .pb_inner1 .pbi_slider .slider .prev,
.productShop_bottom .pb_inner1 .pbi_slider .slider .next {
	border: none;
	display: inline-block;
	writing-mode: vertical-rl;
	text-orientation: upright;
	padding: 20px 10px;
	background-color: #edeff6;
	border-radius: 6px;
	font-size: 6px;
	font-weight: 400;
	line-height: 12px;
	position: absolute;
	top: 180px;
	z-index: 5;
}
.productShop_bottom .pb_inner1 .pbi_slider .slider .prev {
	left: 10px;
}
.productShop_bottom .pb_inner1 .pbi_slider .slider .next {
	right: 10px;
}

.productShop_bottom .categories2 {
	background-color: #eeeff6;
	padding: 30px;
	border-radius: 10px;
	margin-top: 30px;
}
.productShop_bottom .categories2 .c_span {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 25px;
}
.productShop_bottom .categories2 .c_span span {
	padding: 5px 10px;
	background-color: #fff;
	font-size: 13px;
	font-weight: 400;
	line-height: 19.5px;
	border-radius: 6px;
}
.productShop_bottom .categories2 .filter_brand {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}
.productShop_bottom .categories2 > strong {
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}
.productShop_bottom .categories2 .fb_input {
	border: 1px solid #99999939;
	border-radius: 5px;
	padding: 10px 5px;
	margin: 10px 0px 20px 0;
	outline: none;
}
.productShop_bottom .categories2 .fb_checkbox {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.productShop_bottom .categories2 .filter_price {
	padding: 20px 0 30px 0;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.priceRange {
	position: relative;
	width: 100%;
	height: 10px;
	margin: 10px 0;
}

.priceRangeMin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	-webkit-appearance: none;
	appearance: none;
	background: #ccc;
	border-radius: 5px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	z-index: 1;
}

.priceRangeMin::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #01a49e;
	cursor: pointer;
	z-index: 3;
}

.productShop_bottom .categories2 .filter_price .fp_inputs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.productShop_bottom .categories2 .filter_price .fp_inputs span {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
}
.productShop_bottom .categories2 .filter_price .fp_inputs span input {
	width: 50px;
	text-align: center;
	border: none;
	outline: none;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
}

.productShop_bottom .categories2 .filter_price .fp_inputs .bspan {
	background-color: transparent;
	flex-grow: 1;
	justify-content: end;
}

.productShop_bottom .categories2 .filter_price .fp_inputs .bspan button {
	border: none;
	background-color: transparent;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	color: #fff;
	background-color: #01a49e;
}

.productShop_bottom
	.categories2
	.filter_price
	.fp_inputs
	span
	input::-webkit-outer-spin-button,
.productShop_bottom
	.categories2
	.filter_price
	.fp_inputs
	span
	input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.productShop_bottom .categories2 .filter_rating {
	padding: 20px 0 40px 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}
.productShop_bottom .categories2 .filter_rating .rating {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.productShop_bottom .categories2 .filter_rating .rating .fr_checkbox {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.productShop_bottom .categories2 .filter_rating .rating .fr_checkbox input {
	width: 14px;
	height: 14px;
	margin-right: 5px;
	border: 1px solid #00000028;
	border-radius: 4px;
	outline: none;
}
.productShop_bottom .categories2 .filter_rating .rating .fr_checkbox .fr_stars {
	font-size: 15px;
	font-weight: 900;
	line-height: 15px;
	color: #ffae00;
}
.productShop_bottom .categories2 .filter_screen {
	padding: 20px 0 30px 0;
	border-bottom: 1px solid #999;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
}
.productShop_bottom .categories2 .filter_screen .screen {
	display: flex;
	flex-wrap: wrap;
	gap: 9px;
}
.productShop_bottom .categories2 .filter_screen .screen span {
	font-size: 13px;
	font-weight: 400;
	line-height: 19.5px;
	padding: 5px 8px;
	background-color: #fff;
	border-radius: 6px;
	cursor: pointer;
}
.productShop_bottom .categories2 .filter_color {
	padding: 20px 0 30px 0;
	border-bottom: 1px solid #999;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
}
.productShop_bottom .categories2 .filter_color .color {
	display: flex;
	flex-wrap: wrap;
	gap: 14px;
}
.productShop_bottom .categories2 .filter_color .color span {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
}
.productShop_bottom .categories2 .filter_color .color .color1 {
	background-color: #a42a2a;
}
.productShop_bottom .categories2 .filter_color .color .color2 {
	background-color: #2f557b;
}
.productShop_bottom .categories2 .filter_color .color .color3 {
	background-color: #439abb;
}
.productShop_bottom .categories2 .filter_color .color .color4 {
	background-color: #222222;
}
.productShop_bottom .categories2 .filter_color .color .color5 {
	background-color: #fff;
}
.productShop_bottom .categories2 .filter_color .color .color6 {
	background-color: #1aba1a;
}
.productShop_bottom .categories2 .filter_color .color .color7 {
	background-color: #696969;
}
.productShop_bottom .categories2 .filter_color .color .color8 {
	background-color: #534898;
}
.productShop_bottom .categories2 .filter_memory,
.productShop_bottom .categories2 .filter_condition {
	padding: 20px 0 30px 0;
	border-bottom: 1px solid #999;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
}
.productShop_bottom .categories2 .filter_memory .memory {
	display: flex;
	gap: 20px;
}
.productShop_bottom .categories2 .filter_memory .memory .memorys,
.productShop_bottom .categories2 .filter_condition .conditions {
	display: flex;
	align-items: center;
	gap: 8px;
}
.productShop_bottom .categories2 .filter_memory .memory .memorys input,
.productShop_bottom .categories2 .filter_condition .conditions input {
	width: 14px;
	height: 14px;
	border: #999;
}
.productShop_bottom .categories2 .filter_memory .memory .memorys label,
.productShop_bottom .categories2 .filter_condition .conditions label {
	font-size: 14px;
	font-weight: 400;
	line-height: 23.8px;
}
.productShop_bottom .categories2 .filter_memory .memory .memorys label span,
.productShop_bottom .categories2 .filter_condition .conditions label span {
	font-size: 14px;
	font-weight: 400;
	line-height: 23.8px;
	color: #888888;
}

.productShop_bottom .addimg {
	padding: 30px;
	margin-top: 10px;
	border-radius: 15px;
	background-image: url("../../assets/images/addimg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}
.productShop_bottom .addimg .addimg_heading6 {
	font-size: 24px;
	font-weight: 700;
	line-height: 28.8px;
	margin-bottom: 30px;
	color: #fff;
}
.productShop_bottom .addimg .addimg_heading6 span {
	font-size: 24px;
	font-weight: 500;
	line-height: 28.8px;
	color: #fff;
}
.productShop_bottom .addimg p {
	font-size: 12px;
	font-weight: 400;
	line-height: 20.4px;
	color: #999;
}
.productShop_bottom .addimg .addimg_heading5 {
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	color: #01a49e;
}
.productShop_bottom .pb_inner2 {
	display: flex;
	flex-wrap: wrap;
}

.productShop_bottom .pb_inner2 .pb_products {
	margin-top: 30px;
}
.productShop_bottom .pb_inner2 .pb_products .product_topbar {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.productShop_bottom .pb_inner2 .pb_products .product_topbar .tb_span {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #666;
}
.productShop_bottom .pb_inner2 .pb_products .product_topbar .results strong {
	display: flex;
	align-items: center;
	gap: 3px;
}

.productShop_bottom .pb_inner2 .pb_products .product_topbar .itemnum,
.productShop_bottom .pb_inner2 .pb_products .product_topbar .itemOption {
	display: flex;
	align-items: center;
	gap: 7px;
}
.productShop_bottom .pb_inner2 .pb_products_list {
	padding: 30px 30px 0 30px;
	display: flex;
	flex-wrap: wrap;
}
.notFound {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.productShop_bottom .pb_inner2 .pb_products .product_topbar .itemnum_div {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 6px 14px;
	background-color: #eeeff6;
	border-radius: 5px;
}
.productShop_bottom .pb_inner2 .pb_products .product_topbar .itemnum_div a {
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
	line-height: 19.5px;
	color: #777777;
}
.Pagination_row {
	display: flex;
	justify-content: center;
}

.productShop_top,
.productShop_middle,
.productShop_bottom {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	margin: 15px 0 !important;
}

.productShop_top h6,
.productShop_middle h6,
.productShop_bottom h6 {
	font-size: 18px;
	font-weight: 700;
	line-height: 21.6px;
	text-transform: uppercase;
}

@media (max-width: 1200px) {
	.productShop_top .slider_boxes {
		flex-wrap: wrap;
	}
	.productShop_top .slider_boxes .sb_slider,
	.productShop_top .slider_boxes .sb_banner {
		padding: 30px;
		margin: 10px 0;
		width: 100%;
	}

	.productShop_bottom .pb_inner1 .categories1,
	.productShop_bottom .pb_inner1 .pbi_slider {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media (max-width: 992px) {
	.productShop_top h6,
	.productShop_middle h6,
	.productShop_bottom h6 {
		font-size: 16px;
	}
	.productShop_top .slider_boxes {
		column-gap: 5px;
	}
	.productShop_top .slider_boxes .sb_slider,
	.productShop_top .slider_boxes .sb_banner {
		padding: 20px;
		margin-bottom: 10px;
		background-position: center;
	}

	.productShop_bottom .pb_inner2 .pb_products_list {
		padding: 20px;
		justify-content: space-between;
	}

	.productShop_bottom .pb_inner2 .pb_products .product_topbar .itemnum_div {
		padding: 6px 10px;
	}
}

@media (max-width: 768px) {
	.productShop_top,
	.productShop_middle,
	.productShop_bottom {
		padding: 20px;
	}

	.productShop_top h6,
	.productShop_middle h6,
	.productShop_bottom h6 {
		font-size: 14px;
	}

	.productShop_top .slider_boxes .sb_slider,
	.productShop_top .slider_boxes .sb_banner,
	.productShop_bottom .pb_inner1 .categories1,
	.productShop_bottom .pb_inner1 .pbi_slider {
		padding: 20px;
		margin: 10px 0;
	}

	.productShop_bottom .pb_inner2 .pb_products_list {
		padding: 10px;
	}
	.productShop_bottom .categories2 .filter_memory .memory {
		flex-wrap: wrap;
		gap: 0;
	}
	.productShop_bottom .categories2 .filter_color .color {
		gap: 10px;
	}
	.productShop_bottom .categories2 .filter_color .color span {
		width: 30px;
		height: 30px;
	}
	.productShop_bottom .categories2 .filter_price .fp_inputs .bspan {
		justify-content: flex-start;
		padding: 0;
	}
	.productShop_bottom .categories2 .fb_checkbox img {
		width: 50px;
	}
	.productShop_bottom .categories2 .fb_checkbox span {
		font-size: 10px;
	}
	.productShop_bottom .categories2 .fb_input {
		padding: 0;
		margin: 10px 0;
	}
	.productShop_bottom .categories2 .filter_memory .memory .memorys label,
	.productShop_bottom .categories2 .filter_condition .conditions label {
		font-size: 12px;
	}
}

@media (max-width: 576px) {
	.productShop_top,
	.productShop_middle,
	.productShop_bottom {
		padding: 15px;
	}

	.productShop_top h6,
	.productShop_middle h6,
	.productShop_bottom h6 {
		font-size: 12px;
	}

	.productShop_top .slider_boxes .sb_slider h2 {
		font-size: 24px;
		line-height: 28px;
	}

	.productShop_top .slider_boxes {
		flex-direction: column;
	}

	.productShop_bottom .pb_inner1 .categories1,
	.productShop_bottom .pb_inner1 .pbi_slider {
		padding: 15px;
	}

	.productShop_bottom .pb_inner1 .pbi_slider .slider {
		padding: 0;
	}

	.productShop_bottom .pb_inner2 .pb_products_list {
		padding: 5px;
	}
	.productShop_bottom .categories2 .filter_memory .memory {
		flex-wrap: wrap;
		gap: 15px;
	}
}
