.offerbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background-color: #01a49e;
  color: #fff;
}
.offerbar .title {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  letter-spacing: -0.3199999928474426px;
  text-align: center;
}

/* topbar */

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.topbar .t_helpline {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.topbar .t_helpline span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #ebeef6;
  border-radius: 6px;
  padding: 5px;
}
.topbar .t_helpline span:nth-child(2) {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.topbar .t_right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.topbar .t_right a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  color: #000;
}

/* nevbar */

.header_navbar {
  padding: 10px 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.nevleft {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menubar a {
  text-decoration: none;
  color: #000;
  padding: 13px 14px;
}

.menubar {
  display: flex;
  align-items: center;
}

.nevright {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nevright .wishlist_icon,
.nevright .icon {
  background-color: #ebeef6;
  padding: 10px;
  border-radius: 45px;
}

.userprofile,
.cartsidebar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userprofile .userwellcome p,
.cartsidebar .cart p {
  margin: 0;
}
.userprofile .userwellcome p:first-child,
.cartsidebar .cart p:first-child {
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  color: #666666;
}
.userprofile .userwellcome p:last-child,
.cartsidebar .cart p:last-child {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.userprofile .userwellcome p:last-child a {
  text-decoration: none;
  color: #000;
}
.cartsidebar .icon {
  border: none;
  outline: none;
  position: relative;
}

.cartsidebar .icon span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 40px;
  color: #fff;
  background: #01a49e;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Searchbar */

.searchbar {
  background-color: #01a49e;
  color: #fff;
  border-radius: 10px;
}
.searchbar .searchbar_inner {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.searchbar .searchbar_inner a {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.searchbar .searchbar_inner .searchbox {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 45px;
}
.searchbar .searchbar_inner .searchbox .input_grp {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.searchbar .searchbar_inner .searchbox .input_grp input {
  border: none;
  outline: none;
}
.searchbar .searchbar_inner .searchbox .input_grp button {
  border: none;
  background-color: transparent;
}
.searchbar .searchbar_inner .deliver {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.searchbar .searchbar_inner .deliver a:last-child {
  font-size: 11px;
  font-weight: 400;
  line-height: 13.2px;
  text-transform: capitalize;
}
.searchbar .searchbar_inner .deliver a:last-child span {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  text-transform: lowercase;
}

@media (max-width: 992px) {
  .offerbar .title {
    font-size: 7px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
  }
  .topbar {
    padding: 0;
  }
  .topbar .t_helpline {
    font-size: 7px;
    gap: 5px;
  }
  .topbar .t_helpline span:nth-child(1) {
    gap: 3px;
    padding: 3px;
  }
  .topbar .t_helpline span:nth-child(1) svg {
    width: 8px;
    height: 8px;
  }
  .topbar .t_helpline span:nth-child(2) {
    font-size: 6px;
  }
  .topbar .t_right {
    gap: 8px;
  }
  .topbar .t_right a,
  .selector {
    font-size: 8px;
  }

  .header_navbar {
    padding: 5px 10px;
  }
  .nevleft {
    gap: 15px;
  }
  .menubar a {
    padding: 6px 7px;
  }
  .nevright {
    gap: 5px;
  }

  .nevright .wishlist_icon,
  .nevright .icon {
    padding: 0 5px;
    border-radius: 100px;
  }
  .nevright .wishlist_icon svg,
  .nevright .icon svg {
    width: 15px;
    height: 15px;
  }
  .userprofile .userwellcome p:first-child,
  .cartsidebar .cart p:first-child {
    font-size: 8px;
  }
  .userprofile .userwellcome p:last-child,
  .cartsidebar .cart p:last-child {
    font-size: 10px;
    font-weight: 500;
    line-height: 21px;
  }
  .cartsidebar .icon span {
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    font-size: 6px;
  }

  .searchbar .searchbar_inner .deliver a:last-child {
    font-size: 7px;
  }
  .searchbar .searchbar_inner .deliver a:last-child span {
    font-size: 7px;
  }
  .breckLine {
    display: none;
  }
  .searchbar .searchbar_inner a {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  .searchbar .searchbar_inner {
    padding: 10px 0;
  }
  .searchbar .searchbar_inner .deliver a:last-child {
    font-size: 7px;
  }
  .searchbar .searchbar_inner .deliver a:last-child span {
    font-size: 7px;
  }
  .breckLine {
    display: none;
  }
  .searchbar .searchbar_inner a {
    font-size: 5px;
    line-height: 10px;
  }
}
@media (max-width: 425px) {
  .menubar,
  .cartsidebar .cart,
  .userprofile .userwellcome {
    display: none;
  }
  .searchbar .searchbar_inner {
    flex-wrap: wrap-reverse;
    gap: 5px;
  }
  .searchbox {
    width: 100%;
  }
  .input_grp input {
    width: 100%;
  }
  .offerbar {
    gap: 20px;
  }
  .offerbar .title {
    font-size: 5px;
  }
}
